@media all and (max-width:1024px) /*mobile*/
{
    #header
    {
        width:70%;
    }

    div[class="title"]
    {
        padding:10px;
        font-size:20px;
    }

    div[class="field"]
    {
        border: 1px solid black;
        border-radius: 10px;
        width: 70%;
        margin: auto;
        margin-top: 20px;
        background-color: white;
        padding:20px;
    }

    div[class="info"]
    {
        border: 1px solid black;
        border-radius: 10px;
        width: 70%;
        margin: auto;
        margin-top: 20px;
        background-color: white;
        padding:20px;
    }

    button
    {
        margin-left: 20%;
    }
}

@media all and (min-width:1025px) /*tablet and pc*/
{
    div[class="field"]
    {
        width:30%;
        border: 1px solid black;
        border-radius: 10px;
        margin: auto;
        margin-top: 20px;
        background-color: white;
        padding:20px;
    }

    div[class="info"]
    {
        width:30%;
        border: 1px solid black;
        border-radius: 10px;
        margin: auto;
        margin-top: 20px;
        background-color: white;
        padding:20px;
    }


    button
    {
        margin-left: 37%;
    }
}

#header
{
    margin-top:20px;
}

div[class="header"]
{
    text-align:center;
}

.title
{
    border: 1px solid black;
    border-radius:19.8px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    padding:30px;
    background-color: white;
    font-family: 'Sigmar One', cursive;
    font-size:35px;
    margin-bottom: 50px;
    text-align: center;
}

div[class="info"]
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

div[class="required"]
{
    color:red;
}

label[id="star-in-info"]
{
    color:red;
    font-size: 20px;
    padding-top: 20px;
}

form
{
    margin: auto;
}

div[class="field"]:focus-within
{
    border: 1px solid #18b34c;
    transition:border 0.1s ease-in-out;
    border-left: 5px solid #18b34c;
    transition:border-left 0.1s ease-in-out;
    color:#18b34c;
    transition:color 0.3s ease-in-out;
}

label
{
    margin-top:20px;
    margin-bottom:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

label[id="star"]
{
    margin-left: 10px;
    color:red;
    font-size: 20px;
}

input
{
    margin-top: 10px;
    outline:none;
    border: none;
    border-bottom: 3px solid rgb(59, 59, 59);
    padding:3px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    transition: border-bottom 0.3s ease-in-out;
}

input:focus
{
    border-bottom: 3px solid #18b34c;
}

select
{
    margin:inherit;
}

button
{
    margin-top:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right: 30px;
    background-color:#18b34c;
    border-radius: 30px;
    border:none;
    color:white;
    font-size: 20px;
    cursor: pointer;
    
}

button:hover
{
    background-color:#078531;
}

button:active
{
    background-color:#0e6e2e;
}

select
{
    outline:none;
    border: 1px solid black;
    padding:10px;
    border-radius: 3px;
    transition:all 0.3s;
}

select:focus
{
    border: 1px solid #18b34c;
    color:#18b34c;
}

option
{
    color:black;
}

footer
{
    background-color:rgb(56, 56, 56);
    color:white;
    padding: 20px;
}